OPENAI_API_KEY=<your_openai_api_key>
REDIS_URL=redis://localhost:6379/0
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,capacitor://localhost
OPENAI_MODEL=gpt-4o-mini
APP_NAME=Aquanex_FastAPI
APP_ENV=dev